$primary-color1: black;
$primary-color2: #dddddd;
$primary-color3: rgb(219, 152, 97);
$shadow-color: #252424;
$primary-font: 'Montserrat', sans-serif;
@mixin display($property) {
    display: $property;
}
@mixin col-display() {
    flex: 33.33%;
    padding: 45px;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: $primary-color1;
    border: 2px solid $primary-color1;
    border-collapse: collapse;
    border-spacing: 25px;
    td {
        th{
            border: 1px solid $primary-color2;
            text-align: center;
            padding: 8px;
            border: 1px solid $primary-color1;
            border-collapse: collapse;
            width: 25%;
            font-weight:bolder;
            tr {
                border: 1px solid $primary-color1;
                border-spacing: 15px;
                background-color: $primary-color3;
                font-family: Arial, Helvetica, sans-serif;
                padding: 5px;
                text-align: center;
            }
        }
    }
}

tr {
    :nth-child(even) {
        background-color: $primary-color2;
        font-family: $primary-font;
        background-color: $primary-color3;
      }
  }

h2{
    text-align: center;
    color: $primary-color1;
    text-shadow: 4px 4px 10px $shadow-color;
    text-shadow: 4px 4px 10px #641b09;
    font-family: $primary-font;
}

.image {
    background-size: auto;
    background-image: url("../images/concert2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    box-shadow: 0px 10px 5px rgb(17, 17, 17);
    margin:0%;
    height: static;
    max-width: 100%;
 }

.tableheaders {
    background-color: $primary-color2;
    font-family: $primary-font;
}

.firstrow {
    background-color: $primary-color3;
    color: $primary-color1;
    font-family: $primary-font;
}

.navbar {
    animation: mymove 1s ;
    animation-timing-function: ease-out;
    position: relative;
    animation-fill-mode: forwards;
    padding: 20px;
    overflow: hidden;   
    left: 10px; 
}
 
.typeofevent{ @include display(inline-block); }  

.date{ @include display(inline-block); }

.row {
    display: flex;
    top:60%;
  }
 
.column {
    @include col-display();
    img {
        max-width: 300px;
        height: 250px;
    }
}
.imgtext{
    position: relative;
    top:-50px;
    color: $primary-color2;
    font-size:40px;
    font-weight: bolder;
}

.modal {
    z-index: 1;
    width: 15%;
    background-color: $primary-color3;
    margin-left: 10px;
    border: lightgray 1px solid;
}

.datepicker{ @include display(inline-block); }

.seatgeek {
    width: 15%;
}

#text {
    animation: mymove 1s ;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    text-shadow: 4px 4px 10px $shadow-color;
    font-family: serif;
    font-size: 150%;
    margin-left: 12%;
    @include display(inline-block);
    img {
        height: 35px;
    }
 }

 #animantion {
    img {
      display: none;
      :first-child {
          display: none; 
      }
    }
}

#Bdy{
    width: 100%;
    height: 100%;
    background-repeat: repeat-y repeat-x;
    background-color: rgb(49, 47, 47);
    padding-block-end: 20%
}

#bdy{
    width: 100%;
    height: 100%;
    background-repeat: repeat-y repeat-x;
    background-color: $primary-color1;
    padding-block-end: 20%
}

#follow {
    color: $primary-color2;
}
 
#typeofevent {
    width:250px;
    @include display(inline-block);
}

#uberlink {
    max-height: 25px;
}

#lyft {
    max-height: 25px;
}

#instructions{
    font-weight:bolder;
    font-family:serif;
    font-size: 35px;
    text-align:center;
}

#zipInput {
    margin-left: 15px;
    background-color: lightgray;
    color: $primary-color2;
}

#zipClick {
    margin-left: 18px;
    background-color: lightgray;
    color: $primary-color1;
}

#results {
    margin-top: 50px;    
}

#eventName{
    width:250px;
    @include display(inline-block);
    height:22px;
    margin-left:10%;
}

#city{
    height:22px;
}

#links{
    @include display(inline-block); 
    margin-left:10%;
    position: relative;
}

#eventsnearme{
    margin-top:35%;
}

#twitter{
    height:35px;
}

#insta{
    height:35px;
}

#uberlink{
    height:35px;
}

#lyftlink{
    height:35px;
}

#submitbtn{
    margin-left:9%;
    background: $primary-color1;
    color: $primary-color2;
    border-radius:5px;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: $primary-color2;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    :hover {
        background-color: #DDF;
        color: $primary-color1;
    }
}

 @keyframes mymove {
    from {top: -150px;}
    to {top: 0px;}
  }

@media only screen and (min-width: 1025px) {
    .column {
        @include col-display();
        img {
            height: 250px;
            margin-left: 1%;
        }
    }
    #text {
        animation: mymove 1s ;
        animation-timing-function: ease-out;
        position: relative;
        animation-fill-mode: forwards;
        text-shadow: 4px 4px 10px $shadow-color;
        font-family: serif;
        font-size: 150%
        margin-left 3%;
     }
}

@media only screen and (min-width: 768px) {
    .column {
        @include col-display();
        img {
            height: 150px;
            margin-left: 1%;
        }
    }
}

@media only screen and (min-width: 481px) {
    #text {
    animation: mymove 1s ;
    animation-timing-function: ease-out;
    position: relative;
    animation-fill-mode: forwards;
    text-shadow: 4px 4px 10px $shadow-color;
    font-family: serif;
    font-size: 100%;
        img {
            max-height: 25px;
            max-width: 15px; 
        }
    }
    .row {
        display: flex;
        position: absolute;
        top:50%;
      }
    .column {
        @include col-display();
        img {
            height: 100px;
            margin-left: 1%;
        }
    }
}
